html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  -ms-overflow-x: hidden;
}

html *,
html *:before,
html *:after{
  box-sizing: inherit;
}

body {
  font-family: $font;
  font-size: 16px;
  line-height: 1.4;
  color: $white;
  background: black;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

img,
video,
svg {
  max-width: 100%;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: $container + $gutter;

  @media (max-width: 500px) {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

img[width="1"][height="1"] {
  display: none;
}

iframe[name="google_conversion_frame"] {
  height: 0;
  position: absolute;
}
