@font-face {
    font-family: 'apercu-regular-pro';
    src: font-url('apercu-regular-pro.eot');
    src: font-url('apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
         font-url('apercu-regular-pro.woff') format('woff'),
         font-url('apercu-regular-pro.woff2') format('woff2'),
         font-url('apercu-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
