<div class="sp__5"></div>
<section class="section features">
  <div class="container">
    <h3 class="t__h3 c__white">Features</h3>
    <div class="sp__2"></div>
    <div class="features__item">64-bit encryption</div>
    <div class="features__item">Share with a partner</div>
    <div class="features__item">Trackable goals</div>
    <div class="features__item">Custom categories</div>
    <div class="features__item">Helpful notifications</div>
    <div class="features__item">Monthly summary</div>
  </div>

  <div class="sp__10"></div>
  <div class="sp__5 u__hidden--mobile"></div>
  <h4 class="t__h1 c__white">Save is coming soon</h4>
</section>
