<div class="sp__5"></div>
<section class="section features">
  <div class="container">
    <h3 class="t__h3 c__white">Features</h3>
    <div class="sp__2"></div>
    <div data-features>
      <div class="features__item" style="color: #00AAD7;" data-color="#00AAD7">64-bit encryption</div>
      <div class="features__item" data-color="#415fca">Share with a partner</div>
      <div class="features__item" data-color="#4d1e8b">Trackable goals</div>
      <div class="features__item" data-color="#9d0085">Custom categories</div>
      <div class="features__item" data-color="#e21a48">Helpful notifications</div>
      <div class="features__item" data-color="#fb9400">Monthly summary</div>
    </div>
  </div>

  <div class="sp__10"></div>
  <div class="sp__5 u__hidden--mobile"></div>
  <h4 class="t__h1 c__white">Save is coming soon</h4>
  <div class="sp__3"></div>
  <%= render 'site/shared/cta' %>
</section>
