<div class="sp__4"></div>
<footer class="section footer c__dark-white">
  <div class="container footer__flex">
    <div class="footer__right">
      <a href=""#>Contact</a><span class="footer__dot">•</span><a href="#">Kit</a><span class="footer__dot">•</span>©Save
    </div>
    <div class="footer__left"><span class="footer__created">Created by</span> Clarke Harris &amp Jordan Sowers</div>
  </div>
</footer>
