<section class="nav">
  <div class="container flex flex__align__center">
    <a href="/"><%= image_tag 'logo.svg', width: 61 %></a>
    <div class="nav__right t__smaller c__grey">Coming Soon</div>
  </div>
</section>
