<section class="section">
  <div class="container">
      <div class="tour tour__2">
        <div class="tour__item">
          <%= video_tag("section-2.mp4", width: 417, poster: "section-2.png") %>
        </div>
        <div class="tour__item">
          <h2 class="t__h1 tour__h">Smart enough to let you be in control</h2>
          <div class="sp__2"></div>
          <h3 class="t__h3 c__grey tour__desc">Edits as simple as a swipe and a built in AI that learns to adapt to your habits — not the other way around.</h3>
          <%= render 'site/homepage/footer' %>
        </div>
      </div>
  </div>
</section>
