<section class="section">
  <div class="container">
      <div class="tour tour__1">
        <div class="tour__item tour__switch">
          <%= video_tag("section-1.mp4", width: 417, poster: "section-1.png") %>
        </div>
        <div class="tour__item">
          <h1 class="t__h1 tour__h">Your money in color</h1>
          <div class="sp__2"></div>
          <h3 class="t__h3 c__grey tour__desc">Plan, track, and manage your budget like never before.</h3>
          <div class="sp__3"></div>
          <%= render 'site/shared/cta' %>
          <div class="sp__20 tour__spacing"></div>
        </div>
      </div>
  </div>
</section>
