<form action="/api/subscribe" method="POST" class="cta js__cta">
  <div class="cta__inputs">
    <input type="email" placeholder="Email me when its ready" class="cta__email" required>
    <button type="submit" class="cta__submit"></button>
  </div>
  <div class="cta__success t__h3">Thank you!</div>
</form>
