.footer__flex {
  display: flex;
  align-items: center;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer__right {
  margin-left: auto;
  order: 2;
}

.footer__dot {
  padding: 0 7px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .footer__flex {
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .footer__right {
    margin-bottom: 20px;
  }

  .footer__created {
    display: block;
    padding-bottom: 5px;
  }
}
